<ion-header [translucent]="true" [class]="className">
  <ion-toolbar>
    <ng-container
      [ngTemplateOutlet]="backBtn?.templateRef || defaultBackButton"
    ></ng-container>
    <ion-buttons slot="start">
        <img width="40px" src="/assets/images/LogoIcon.svg" class="logo">
    </ion-buttons>
    <ion-title slot="start" class="tiltle">Stellar Circles</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"><ion-icon class="header-icon" name="search-outline"></ion-icon></ion-button>
      <ion-button fill="clear"><ion-icon class="header-icon" name="information-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <!--<ion-title [color]="color" [class.ion-text-start]="!hasBackButton" class="font-md"> {{ title }} </ion-title>-->
  </ion-toolbar>
</ion-header>

<ng-template #defaultBackButton>
  <ng-container *ngIf="hasBackButton">
    <ion-buttons slot="start">
      <ion-button
        (click)="handleBackButtonClick()"
        class="back-btn"
        fill="clear"
      >
        <ion-icon name="chevron-back-outline" color="circle-black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-container>
</ng-template>
