<ion-list lines="inset">
  <ng-container *ngFor="let contact of contacts; index as i">
    <ion-item>
      <ion-toolbar>
        <ion-title color="circle-black" class="ion-text-start">{{ 'contact_name' | translate: { name: contact.name } }}</ion-title>
        <p *ngIf="contact.wipe_status !== WipeStatusEnum.ACTIVE">
          <em>{{ 'phone_wipe_status_message' | translate }}</em>
          <ion-button (click)="delete(i)" color="warning" fill="outline">
            {{ 'delete_button' | translate }}
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-toolbar>
      <ion-buttons slot="end">
        <ion-button
          (click)="wipe(i)" color="danger" fill="outline" *ngIf="contact.wipe_status == WipeStatusEnum.ACTIVE"
        >
          {{ 'wipe_phone_button' | translate }}
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="delete(i)" color="warning" fill="outline" *ngIf="contact.wipe_status == WipeStatusEnum.ACTIVE">
          {{ 'delete_button' | translate }}
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ng-container>
</ion-list>
