ion-list {
  background: transparent;
  display: flex;
  flex-direction: column;

  ion-item {
    --inner-padding-top: 6px;
    --inner-padding-bottom: 6px;
    background: white;
    --background: white;
    --border-color: transparent;
    --border-radius:16px;
    border-radius: 16px;
    
  }

  ion-title {
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 150%;
    background: white;
    --background: white;
  }

  ion-toolbar {
    background: white;
    --background: white;
    display: flex;
  }
}

ion-button {

}
.ion-text-start{
  flex: 1;
}
ion-buttons {
  gap: 8px;
}
