/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "./assets/fonts/silka/stylesheet.css";
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./assets/styles/ion-colors";

* {
  font-family: "Silka";
  font-style: normal;
  margin: 0;
  padding: 0;
}

ion-content,
ion-list,
ion-item,
input {
  --background: #F6F6FD;
  background: #F6F6FD;
}

ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
  --min-height: 0;
}

ion-img {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}
.px-c-1 {
  --padding-start: var(--ion-padding, 8.5px);
  --padding-end: var(--ion-padding, 8.5px);
  padding-inline-start: var(--ion-padding, 8.5px);
  padding-inline-end: var(--ion-padding, 8.5px);
}

.px-c-2 {
  --padding-start: var(--ion-padding, 16px);
  --padding-end: var(--ion-padding, 16px);
  padding-inline-start: var(--ion-padding, 16px);
  padding-inline-end: var(--ion-padding, 16px);
}
.list-md {
  padding-top: 0;
  padding-bottom: 0;
}

// Padding
.px-l-1 {
  padding-left: 8.5px;
  padding-right: 8.5px;
}

.px-l-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.pt-4 {
  padding-top: 16px;
}
.pb-4 {
  padding-bottom: 16px;
}

.pt-6 {
  padding-top: 24px;
}

.pt-28 {
  padding-top: 112px;
}

.pt-10 {
  padding-top: 40px
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.text-sm {
  font-size: 13px;
}

.text-md {
  font-size: 16px;
}

.pb-6 {
  padding-bottom: 24px;
}
.mt-4 {
  margin-top: 16px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mt-6 {
  margin-top: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.font-md {
  font-weight: 500;
}
.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.radius-2 {
  border-radius: 8px;
  --border-radius: 8px;
}
.blue-text{
  color: #2761FC;
}
.d-flex{
  display: flex;
}
.font-12{
  font-size: 12px;
}