<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stellar Circle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <p>Circle allows you to wipe your friends phone. They must have Stellar Protect on their phone.</p>
    <p>All contacts you add here is stored on your phone, and not on any server.</p>
  </div>

  <h5 class="ion-padding">Circles</h5>

  <!-- circles -->
  <app-circles></app-circles>

</ion-content>
