<circle-navbar *ngIf="!isSearch" (isSearchShown)="showSearch($event)" title="{{ 'circle_title' | translate }}" color="circle-purple"
  className="pb-6 {{circles.length == 0 ? 'pt-10 px-l-2' : 'pt-4 px-l-2'}}">
</circle-navbar>
<ion-item *ngIf="isSearch" lines="none" >
  <div class="note-search pt-4  pb-6  px-l-2">
    <ion-buttons slot="start" (click)=" clearSearch(true)">
      <img  src="/assets/icon/left-arrow.svg" class="back">
    </ion-buttons>
    <input class="px-l-2" placeholder="{{ 'search_placeholder' | translate }}" [(ngModel)]="search" (keyup)="handleSearch()" />
    <ion-buttons slot="end" (click)="clearSearch(false)">
      <ion-img name="Search" class="serach-icon" src="assets/icon/cross.svg"></ion-img>
    </ion-buttons>

  </div>
</ion-item>

<ion-content scrollY="true" [fullscreen]="true" class="px-c-2">
  <ion-list lines="none" *ngIf="false">
    <ion-item class="p-intro">
      <p>
        <ion-text color="circle-dark-grey text-small">
          {{ 'circle_app_use' | translate }}
        </ion-text>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <ion-text color="circle-dark-grey text-small">
          {{ 'circle_app_description' | translate }}
        </ion-text>
      </p>
    </ion-item>
  </ion-list>

  <div class="add-container" *ngIf="circles.length == 0">
    <div class="mid-container">
      <img src="/assets/images/person-add.svg" class="logo">
      <ion-row>
        <p>
          <ion-text color="circle-black text-small no_contact_text">
            <span class="font-semi-bold text-md">{{'no_contacts_added_message_bold' | translate}}</span>
            <span class="mid-text" [innerHTML]="'no_contacts_added_message' | translate"></span>
            <br>
            <span class="mid-text understand-circle" routerLink='/info'>{{'understand-circle' | translate}}</span>
          </ion-text>
        </p>
      </ion-row>
    </div>
  </div>



  <!-- circles -->
  <contact-list [contacts]="filteredCircles" class="pt-4"></contact-list>

  <!-- add -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="modelToggleAdd()">
    <img src="/assets/images/FAB.svg" class="logo">
  </ion-fab>

  <!-- add modal -->
  <ion-modal [isOpen]="addCircleModelVisible">
    <ng-template>

      <ion-header [translucent]="true" mode="ios" class="ion-no-border">
        <ion-toolbar style="background: #F6F6FD;" class="ion-no-border">
          <ion-buttons slot="start">
            <ion-button (click)="modelToggleAdd()" class="back-btn" fill="clear">
              <ion-icon name="close-outline" class="cross-btn"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>
            <p class="label-add">Add a Contact</p>
          </ion-label>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row class="m-simple">
          <ion-card mode="ios" class="ion-no-border">
            <ion-card-content>
              <p>
                <ion-text color="circle-dark-grey text-small text-color">
                  <span [innerHtml]="'add_contact_description' | translate"></span>
                </ion-text>
              </p>
            </ion-card-content>
          </ion-card>

        </ion-row>

        <ion-list lines="none" class="m-simple">

          <ion-input no-border label="{{ 'nickname_label' | translate }}" label-placement="floating" fill="solid"
            [(ngModel)]="circleNameAdd" style="color: #000 ; --background: #EAEAF0; --border-radius: 60px;
            border: 0px solid #cacaca; min-height: 61px;" placeholder="{{ 'nickname_label' | translate }}"
            mode="ios"></ion-input>


          <ion-input label="{{ 'wipe_token_label' | translate }}" label-placement="floating" fill="solid"
            [(ngModel)]="circleToken" style="color: #000; --background: #EAEAF0; --border-radius: 60px;
            border: 0px solid #cacaca; min-height: 61px;" placeholder="{{ 'wipe_token_placeholder' | translate }}"
            mode="ios"></ion-input>

        </ion-list>

        <circle-button value="{{ 'add_contact_button' | translate }}" className="radius-2 font-semi-bold"
          color="circle-blue" (onClick)="addCircle()"></circle-button>
        <div style="display: flex;">
          <img src="/assets/images/icon-set.svg" class="set-logo">
          <p class="mt-6 font-12">
            <ion-text color="circle-dark-grey">
              {{ 'contact_storage_note' | translate }}
            </ion-text>
          </p>
        </div>


        <!-- <div align="center"><img src="/assets/images/icon-set.svg" class="stellar-logo"></div> -->
      </ion-content>
    </ng-template>
  </ion-modal>


  <!-- <div align="center"><img src="/assets/images/logo.svg" class="stellar-logo"></div> -->
</ion-content>
